@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}


html, body {
    height: 100vh;
    width: 100vw;
    background-color: black;
}
body {
    background: url(../imagens/fundo-madeira.jpg)no-repeat top center;
    background-size: cover; /* para cobrir a tela inteira*/
    background-attachment: fixed; /* para não ter rolagem */
}

main {
    position: relative; /*Posição para que o conteiner de fora fique relativo e o de dentro fique absoluto */
    height: 100vh;
}



section#telefone {
    position: absolute; /* Como colocamos o fundo (main) em relative, podemos alterar oq está em absolute (telefone), depois fazer algumas alterações no top e no left para que ele fique 
    centralizado na tela, ele ficou centralizado na parte inferior direita, então colocamos o transfor e tiramos -50% para a esquerda e -50% para cima */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    height: 627px; /* A imagem do iphone tem essas dimensões, então para não ocupar espaço definimos a largura e altura*/
    width: 311px;
    background:   url('../imagens/frame-iphone.png') no-repeat;
   
}

iframe#tela{
    position: relative;
    top: 80px;
    left: 22px;
    width: 267px;
    height: 472px;
}
section#redesSociais {
    float: right;
    margin-left: 20px;
    
}


section#redesSociais img {
    width: 50px;
    margin: 12px;
    border-radius: 50%; /* colocando arredondamento nas bordas em 50% faz com que os ícones fique automaticamente redondos.*/
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.726);
    box-sizing: border-box;
    
}

section#redesSociais img:hover{
    border: 2px solid rgba(255, 255, 255, 0.600);
    transform: translate(-8px, -8px); /* Faz com que ao ativar o hover (passar o mouse por cima), o icone mexa (translate) q qntd de pixlels que quiser, no caso foi -8px e -8px (para a esquerda e para cima) */
    transition: transform 0.6s, border 1s; /* Faz com que o deslocamento do ícone seja suave, durando 0.6 segundo, e a borda demore 1s, ambos, depois de ativar o hover */
    box-shadow: 10px 10px 13px rgba(0, 0, 0, 0.726);
    
}